/* Header.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header-inner-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar {
    background-color: #c5c4c4;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #407D8F;
    z-index: 99;
    width: 100%;
  }
  
  .navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    color: #7C1B3E;
    font-family: 'Concert One', sans-serif;
  }
  
  .logo span {
    color: #407D8F;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .nav-icon-container {
    display: flex;
    align-items: center;
  }
  
  .nav-icon-container img {
    width: 40px;
    cursor: pointer;
  }
  
  .nav-icon-container img:first-child {
    margin-right: 1rem;
  }
  
  nav ul li {
    color: #407D8F;
    margin-right: 1.5rem;
    cursor: pointer;
    font-weight: bold;
  }

  .custom-link {
    color: #407D8F;
    cursor: pointer;
    font-weight: bold;
  }
  
  nav ul li:hover {
    transform: translateY(-3px);
    transition: all 0.6s;
    font-weight: bold;
  }
  
  .menu-button {
    display: none;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    .logo {
      font-size: 1.6rem;
    }
  
    .menu-button {
      display: block;
    }
  
    nav {
      position: absolute;
      width: 100%;
      top: 56px;
      display: none;
    }
  
    .show-menu nav {
      display: block;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      text-align: center;
      padding: 0.8rem;
    }
  }
  